CodeForces/.cph/.B_Box_Fitting.cpp_4583521b82a047f5a7d447d4fdbb5faf.prob
CodeForces/B_Box_Fitting.bin
CodeForces/.vscode/settings.json
CodeForces/.cph/.A_Old_Peykan.cpp_2567e98dbb079feaf8bd4927d7551267.prob
CodeForces/A_Old_Peykan.bin
.cph/
*.bin
.vscode/
*.prob